.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginButton {
  background: #d97500;
  width: 6rem;
  border-radius: 5px;
  text-align: center;
  padding: 0.2rem;
}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer nav .navlist {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
}
.landingMainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  padding-inline: 3rem;
}
.landingMainContainer > div:nth-child(1) {
  font-size: 2.2rem;
}

.landingMainContainer > div:nth-child(1) div[role="button"] {
  background: #d97500;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1.9rem;
}

.landingMainContainer > div:nth-child(1) div[role="button"] a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}

.landingMainContainer > div:nth-child(2) img {
  height: 70vh;
  width: auto;
}
