.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginButton {
  background: #d97500;
  width: 6rem;
  border-radius: 5px;
  text-align: center;
  padding: 0.2rem;
}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer nav .navlist {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
}
.landingMainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  padding-inline: 3rem;
}
.landingMainContainer > div:nth-child(1) {
  font-size: 2.2rem;
}

.landingMainContainer > div:nth-child(1) div[role="button"] {
  background: #d97500;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1.9rem;
}

.landingMainContainer > div:nth-child(1) div[role="button"] a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}

.landingMainContainer > div:nth-child(2) img {
  height: 70vh;
  width: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;
}

.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}

.leftPannel {
  height: 100%;
  display: flex;
  align-items: center;
}

.rightPannel {
  display: flex;
  align-items: center;
}

.rightPannel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}

.heading {
  margin-bottom: 2rem;
  text-align: center;
}

@media (max-width: 800px) {
  .meetContainer {
    flex-direction: column;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
  }

  .leftPannel,
  .rightPannel {
    justify-content: center;
  }

  .rightPannel > img {
    width: 60vw; /* mobile ke liye better */
  }
  .heading {
    margin-bottom: 2rem;
    text-align: center;
  }
}

@media (max-width: 510px) {
  .meetContainer .MuiTextField-root {
    width: 200px;
  }
  .navbar p {
    display: none;
  }
  .navbar Button{
    margin-left: 0;
  }
}

@media (max-width: 390px){
  .heading{
    font-size: 1.15rem;
  }
  .navbar h2{
    font-size: 1.2rem;
  }
}